<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <h4 class="my-4">{{status.name}}</h4>
          <app-task-list-row [tasks]="tasks"></app-task-list-row>
      </div>
      
      <!--<div class="col-md-8 col-offset-2 border-bottom">
        <h4>{{status?.name}}</h4>
        <p>Total Tasks: {{status?.task_count}}</p>
      </div>
  
      <div class="col-md-8 col-offset-2 border-bottom"  *ngIf="tasks.length > 0">
        <div *ngFor="let task of tasks" (click)="goToDetail(task.id)"> 
          <p>{{task.name}}</p>
          <p>{{task.address}}</p>
          <p>phone: {{task.phone}} email: {{task.email}}</p>
          {{task.date | date: 'medium'}}
          <div [innerText]="task.request"></div>
        </div>

        <div *ngIf="tasks.length <= 0">
          <p>No Tasks To Show</p>
        </div>
      </div>

      <div class="col-md-8 col-offset-2 border-bottom" (click)="goToDetail(task.id)" *ngIf="tasks.length <= 0">
        <p>No Tasks To Show</p>         
      </div>-->

    </div>
  </div>