.container-fluid{
    /*background: #fffaf0;*/
}
input{
    border-radius: 0px !important;
}
.wrapper{
    display: flex;
}
.image-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.form-column{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 90px;
    /*background: #fffaf0;  */ 
    overflow-y: scroll;
    height: 100vh;
}
.head{
    display: flex;
    justify-content: space-between;

    h6{ 
        color: #999;
        font-family: 'roboto', sans-serif;
        font-size: 80%;
    }
}
.contact *{
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 4px;
    font-size: 90%;
    color: #666;
}
label{ color: #666;}
input::placeholder{
    font-family: 'Roboto', sans-serif !important;
    font-size: 85%;
    font-weight: 100;
    color: #e0e0e0;
}
*{font-family: 'DM Serif Display', sans-serif;}
