/* You can add global styles to this file, and also import other style files */
*{font-family: 'Roboto', sans-serif;}
.Waiting{
    color: #cc4444 !important;
}
.Resolved{
    color: #4BB543 !important;
}
.Progress{
    color: #ff9933 !important;
}